<!DOCTYPE html>
<html lang="en">

<head>
  <title>log in</title>
  <%- include('_partial/_head') -%>
    <link rel="stylesheet" type="text/css" href="home.css" />
    <script src="home.js"></script>
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
  <div class = "panel">

    <div class="iframe">
      <iframe id="iframe" class="iframe"></iframe>
    </div>

    <!-- <blockquote class="tiktok-embed" data-video-id="6991131155013668102"> <section> </section> </blockquote> 
  <script async src="https://www.tiktok.com/embed.js"></script> -->

    <div class="tag-panel">
      <div class="buttons-top">
        <h1 id="headline">Tag the video</h1>
        <button id="sec" class="btn-off" onclick="tag(0)">Secular</button>
        <button id="rel" class="btn-off" onclick="tag(1)">Religious</button>
      </div>
      <div class="features">
        <form id='feature' name='features'>
          <% for(let feature of featuresList) { %>
            <input type="checkbox" id='<%= feature %>' name='<%= feature %>'>
            <label for='<%= feature %>'>
              <%= feature %>
            </label>
            <% } %>
        </form>
      </div>
      <div class="buttons-bottom">
        <button id="submit" class="submitButton" onclick="submitTag()">Submit</button>
        <button id="expert" class="submitButton" onclick="passToExpert()">passToExpert</button>
      </div>
    </div>
  </div>
</body>

</html>