<!DOCTYPE html>
<html lang="en">

<head>
  <title>log in</title>
  <%- include('_partial/_head') -%> 
  <link rel="stylesheet" type="text/css" href="home.css" />
  <script src="home.js"></script>
</head>

<header>
  <%- include('_partial/_header') -%>
</header>

<body>
  <div class="container">
    <blockquote allowtransparency="true" class="tiktok-embed" data-video-id=0 allowtransparency="true" id="tikton-iframe" > 
        <section style="background-color: cadetblue;"></section> </blockquote>
         <script async src="https://www.tiktok.com/embed.js"></script>
  </div>

  <div id="buttons">
  <button id="sec" class="submitButton">Secular</button>
  <button id="neu" class="submitButton">Neutral</button>
  <button id="rel" class="submitButton">Religious</button>
  </div>
  <form  id='feature' name='features'>
      <% for(let feature of featuresList) { %>
      <input type="checkbox" id='<%= feature %>' name='<%= feature %>' >
      <label for= '<%= feature %>'><%= feature %></label>
      <% } %>
  </form>
</body>
<script>
  let videosIDs
  let numOfVideos = 0
  let currentVideoPos = 0
  $( document ).ready(function() {
    $.ajax({
        url: 'api/tiktok/getUser',
        type: 'get',
        data : {expert: false},
        success:function(user){
          numOfVideos = user['numOfVideos']
          alert(user['numOfVideos'])
          $.ajax({
            url: 'api/tiktok/getVideos',
            type: 'get',
            data: { userId: user['userId'] },
            success:function(videosJson){
              videoIds = videosJson['videoIds']
              alert(videosJson['videoIds'])

              document.getElementById("tikton-iframe").setAttribute("data-video-id ", videosIDs[currentVideoPos])


            }
          });
        }
    });
  });

</script>
<style>
  .tiktok-embed{
    position: absolute;
    left:0px;
    height: 100%;
    width: 30%;
    left:7%;
    top: 7%;
}
</style>

</html>